@model AuthSystem.Models.IndexViewModel
@{
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col">
        <div class="scrollable-table mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Symbol</th>
                        <th>Action</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Current Price</th> <!-- Fixed the header text -->
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.TransactionsList != null)
                    {
                        @foreach (var element in Model.TransactionsList)
                        {
                            <tr>
                                <td>@element.Time</td>
                                <td>@element.Symbol</td> <!-- Fixed the closing </td> tag -->
                                <td>@element.Action</td> <!-- Fixed the closing </td> tag -->
                                <td>@element.Quantity</td>
                                <td>@element.Cost</td>
                                <td>@element.CurrentPrice</td>
                            </tr>
                        }
                    }
                <tbody>
            </table>
        </div>
    </div>
</div>

