@model AuthSystem.Models.StockFusionFinanceModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stock
            </button>
            <ul class="dropdown-menu">
                <form asp-controller="Home" asp-action="Index" method="Get">
                    @foreach (var stock in Model.PortfolioList)
                    {
                        <li>
                            <input type="hidden" name="symbol" value="@stock.Symbol" />
                            <input type="submit" class="dropdown-item" value="@stock.Symbol" />
                        </li>                        
                    }
                </form>
            </ul>
            @if (Model.Dictionary != null)
            {
                <div class="scrollable-table mt-3" style="max-height: 50vh;">
                    <table class="table">
                        <tbody>
                            @foreach (var element in Model.Dictionary)
                            {
                                <tr>
                                    <td class="text-right"><label class="mr-2">@element.Key</label></td>
                                    <td>@element.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="Index" method="post">
            <label>Stock:</label>
            <input asp-for="@Model.Transactions.Symbol" style="width: 25%" />

            <!-- Input for the number of shares -->
            <input asp-for="@Model.Transactions.Quantity" type="number" placeholder="Number of shares" min="0" style="width: 25%" />

            <div class="form-check">
                <!-- Radio buttons for "Buy" and "Sell" -->
                <input class="form-check-input" type="radio" asp-for="@Model.Transactions.Action" value="Buy" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Buy
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Transactions.Action" value="Sell" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Sell
                </label>
            </div>

            <!-- Button to submit the form -->
            <button type="submit">Submit</button>
        </form>

        <h1>Portfolio</h1>

        <div class="scrollable-table mt-3" style="max-height: 50vh">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Cost</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.PortfolioList != null)
                    {
                        @foreach (var element in Model.PortfolioList)
                        {
                            <tr>
                                <td>@element.Symbol</td>
                                <td>@element.Name</td>
                                <td>@element.Shares</td>
                                <td>@element.Cost</td>
                            </tr>
                        }
                    }
                <tbody>
            </table>
        </div>
    </div>
</div>


